---
import type { Song } from '../lib/data';
import CardPlayButton from './CardPlayButton';

interface Props {
  song: Song;
}

const { song } = Astro.props;
const { albumId, title, artists, image } = song;

const artistsString = artists.join(', ');
---

<article
  class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md transition-all duration-300"
>
  <div
    class="absolute right-4 bottom-20 translate-y-4 transition-all duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10"
  >
    <CardPlayButton id={""} song={song} client:visible />
  </div>
  <a
    href={`/playlist/${albumId}`}
    class="playlist-item transition-all duration-300 flex relative p-2 overflow-halbumIdden gap-2 pb-6 w-44 flex-col"
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <img
        src={image}
        alt={title}
        class="h-full w-full object-cover rounded-md"
      />
    </picture>
    <!-- El transition:name=`playlist ${albumId} image` no funciona por el momento -->
    <div class="flex flex-auto flex-col px-2">
      <h4
        class="text-white text-sm"
      >
        {title}
      </h4>
      <span
        class="text-xs text-gray-400"
      >
        {artistsString}
      </span>
    </div>
  </a>
</article>
